{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
<section class="featured-collection" id="featured-collection-{{ section.id }}" data-section-type="featured-collection">
  {% if section.settings.title != blank %}
    <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  <div class="featured-collection__carousel" data-element="carousel">
    {%- capture collectionFinalIndex -%}{{ collection.products | size | minus: 1 }}{%- endcapture -%}
    {%- capture collectionFinalModulo -%}{{ collection.products | size | modulo: 4 }}{%- endcapture -%}
    {% for product in collection.products %}
      {%- capture loopPosition -%}{{ forloop.index0 }}{%- endcapture -%}
      {%- capture loopModulo -%}{{ forloop.index0 | modulo: 4 }}{%- endcapture -%}
      {%- if loopModulo == '0' -%}
      <div class="featured-collection__carousel-page featured-collection__carousel-page--{{collectionFinalModulo}}">
      {%- endif -%}
      <a href="{{ product.url | within: collection }}" class="featured-collection__item" data-element="carousel__item">
        <template type="application/json" data-role="product-data">
          {{- product | json -}}
        </template>
        {%- if product.featured_image != blank %}
          <div class="featured-collection__image">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 480,
              max_height: 480
            %}
            {% comment %} <img src="{{product.featured_image.url | img_url: '350x350'}}"> {% endcomment %}
            <div class="featured-collection__quick-view-wrapper">
              <button class="featured-collection__quick-view">
                Quick View
              </button>
            </div>
          </div>
        {% endif %}

        <p>{{ product.title | escape }}</p>
        {%- if product.compare_at_price > product.price -%}
          <span class="featured-collection__sale-badge">
            SALE
          </span>
        {%- endif -%}
        <span class="featured-collection__price">
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              <span class="featured-collection__featured-price">{{ product.price | money }}</span>
              <span class="featured-collection__strike-price">{{ product.compare_at_price | money }}</span>
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
        </span>
      </a>

      {%- if loopModulo == '3' or loopPosition == collectionFinalIndex -%}
      </div>
      {%- endif -%}
    {% else %}
      {% for i in (1..4) %}
        <a href="#" class="featured-collection-item">
          {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p>{{ 'homepage.onboarding.product_title' | t }}</p>
          <p>{{ 1999 | money }}</p>
        </a>
      {% endfor %}
    {% endfor %}
  </div>
  <template type="application/json" data-role="all-product-data">
  {{ collection.products | json }}
  </template>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
